# spring

server.contextPath=/nacos
server.servlet.contextPath=/nacos
server.port=8848


db.num=2
db.url.0=jdbc:mysql://47.101.145.40:3309/jeesite?characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useUnicode=true&useSSL=false&serverTimezone=UTC
db.url.1=jdbc:mysql://47.101.145.40:3309/jeesite?characterEncoding=utf8&connectTimeout=1000&socketTimeout=3000&autoReconnect=true&useUnicode=true&useSSL=false&serverTimezone=UTC
db.user=root
db.password=123456